.btn {
  background: #FDD639;
  border-radius: 23px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  padding: 13px 20px;
  margin-top: 23px;
  cursor: pointer;
  max-width: 280px;
  width: 100%;
}