.comment{
  margin: 30px 0px;
  &-info {
    display: flex;
  }

  &-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.357;
    color: #333333;
  }

  &-date {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.727;
    color: #808080;
    margin-left: 10px;
  }

  &-description {
    position: relative;
    background: #F2FBFF;
    border: 1px solid #C4CBCF;
    padding: 17px 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.357;
    color: #333333;
    margin-top: 10px;

    &::after {
      position:absolute;
      top: -14px; left:30px;
      width:0; height:0;
      content: ' ';
      border-left: 0px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 15px solid #F2FBFF;
    }
  }
}

.no-comments {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}